mpdocs/stegen_analysis/stegen_MetaProteomicAnalysis_activity.json filter=lfs diff=lfs merge=lfs -text
wdl/cromwell/cromwell-66.jar filter=lfs diff=lfs merge=lfs -text
wdl/cromwell/womtool-66.jar filter=lfs diff=lfs merge=lfs -text
