version: '3.7'
services:
  analysis-job:
    build:
      context: ./
      dockerfile: ./docker/analysisJobDockerfile
    container_name: analysisJobContainer
    networks:
      - default
    ports:
      - 8085:8082
    volumes:
      - shared-data:/app/storage
      - log-data:/app/log
    environment:
      STAGE: dev
    env_file:
      - ./conf.env
    command: tail -f /dev/null

  download-dms-data:
    build:
      context: ./
      dockerfile: ./docker/dmsDataDownloadDockerfile
    container_name: downloadDMSDataContainer
    networks:
      - default
    ports:
      - 8083:8082
    volumes:
      - shared-data:/app/storage
      - log-data:/app/log
    environment:
      STAGE: dev
    env_file:
      - ./conf.env
    tty: true

  post-processing:
    build:
      context: ./
      dockerfile: ./docker/postProcessingDockerfile
    container_name: postProcessingContainer
    networks:
      - default
    ports:
      - 8084:8082
    volumes:
      - shared-data:/app/storage
      - log-data:/app/log
    environment:
      STAGE: dev

    env_file:
      - ./conf.env
    tty: true

  mongo-db:
    restart: always
    image: mongo:latest
    container_name: mongoDbContainer
    networks:
      - default
    volumes:
      - db-volume:/data/db
    ports:
      - 27017:27017
    env_file:
      - ./conf.env

volumes:
  shared-data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /mnt/anubhav_msshare/storage #./storage #  # /mnt/anubhav_NMDC_proposal/storage
  log-data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./logs
  db-volume: