name: Build and push container image to GHCR

on:
  release:
    types: [ published ]

permissions:
  contents: read
  packages: write
jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Set-up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Authenticate with container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build images with Compose and Push
        working-directory: wdl
        run: |
          docker compose -f docker-compose.yml -f docker-compose.ci.yml build
          docker compose -f docker-compose.yml -f docker-compose.ci.yml push